<div class="max-w-sm rounded-lg overflow-hidden shadow-lg bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700">
  {% if include.image %}
  <img class="w-full h-48 object-cover" src="{{ include.image }}" alt="{{ include.title }}">
  {% endif %}
  <div class="px-6 py-4">
    {% if include.title %}
    <h3 class="font-bold text-xl mb-2 text-gray-900 dark:text-white">{{ include.title }}</h3>
    {% endif %}
    <p class="text-gray-700 dark:text-gray-300 text-base">
      {{ include.content }}
    </p>
  </div>
  {% if include.tags %}
  <div class="px-6 pt-4 pb-2">
    {% assign tag_array = include.tags | split: "," %}
    {% for tag in tag_array %}
    <span class="inline-block bg-gray-200 dark:bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 dark:text-gray-300 mr-2 mb-2">#{{ tag | strip }}</span>
    {% endfor %}
  </div>
  {% endif %}
</div>