---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {% include mathjax.html %}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.blog_posts_title -%}
      <h2 class="post-list-heading">{{ page.blog_posts_title }}</h2>
    {%- endif -%}
    <ul>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts limit: page.blog_posts_limit -%}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> ({{ post.date | date: date_format }})
      </li>
      {%- endfor -%}
    </ul>
    
    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

 <h2 class="post-list-heading">Blog Posts by Category</h2>
 {% comment %}
    #
    #  Change date order by adding '| reverse' to 'sorted_posts'
    #  To sort by title or other variables use {% assign sorted_posts = category[1] | sort: 'title' %}
    #
 {% endcomment %}
 {% assign sorted_cats = site.categories | sort %}
 <ul>
 {% for category in sorted_cats %}
    {% assign sorted_posts = category[1] %}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <li>{{category[0]}}
      <ul>
	{% for post in sorted_posts %}
	<li>
	  <a href="{{ site.url }}{{ site.baseurl }}{{  post.url }}">{{  post.title }}</a> ({{ post.date | date: date_format }})
	</li>
	{% endfor %}
      </ul>
    </li>
 {% endfor %}    
 <ul>
</div>
